<nav class='header'>
    <div class='menu-web'>
        <div class='logo'>
            <img class='base-logo' src="images/base_logo.svg" alt="Logo" height="100" width="100">
            <img class='blob-logo' src="images/blob_logo.svg" alt="Logo" height="100" width="100">
        </div>
        <div class='menu-web-options'>
            <a id="lnkHome" <% if (page_name==='intro' ) { %>class="selected" <% } %> href="/">
                <%=i18n.__('titleIntro')%></a>
            <a id="lnkLoc" <% if (page_name==='place' ) { %>class="selected" <% } %> href="/place">
                <%=i18n.__('titlePlace')%></a>
            <a id="lnkInfo" <% if (page_name==='moreInfo' ) { %>class="selected" <% } %> href="/moreInfo">
                <%=i18n.__('titleMoreInfo')%></a>
            <a id="lnkGifts" <% if (page_name==='gifts' ) { %>class="selected" <% } %> href="/gifts">
                <%=i18n.__('titleGifts')%></a>
            <a id="lnkRsvp" <% if (page_name==='rsvp' ) { %>class="selected" <% } %> href="/rsvp">
                <%=i18n.__('titleRsvp')%></a>
        </div>
        <div class='lang' id='choose-lang'>
            <% if (i18n.getLocale()!=='es') { %><a href='/es'><img src="images/es.png" alt="es"></a>
            <% }%>
            <% if (i18n.getLocale()!=='fr') { %><a href='/fr'><img src="images/fr.png" alt="fr"></a>
            <% }%>
            <% if (i18n.getLocale()!=='en') { %><a href='/en'><img src="images/en.png" alt='en'></a>
            <% }%>
        </div>
    </div>


    <div class='menu-mobile'>
        <div class='logo'>
            <img class='base-logo' src="images/base_logo.svg" alt="Logo" height="100" width="100">
            <img class='blob-logo' src="images/blob_logo.svg" alt="Logo" height="100" width="100">
        </div>
        <div class='menu-title'>
            <h1>
                <%=page_title%>
            </h1>
        </div>
        <div id='js-menu' class='menu-mobile-options'>
            <a id="lnkHome" <% if (page_name==='intro' ) { %>class="selected" <% } %> href="/">
                <%=i18n.__('titleIntro')%></a>
            <a id="lnkLoc" <% if (page_name==='place' ) { %>class="selected" <% } %> href="/place">
                <%=i18n.__('titlePlace')%></a>
            <a id="lnkInfo" <% if (page_name==='moreInfo' ) { %>class="selected" <% } %> href="/moreInfo">
                <%=i18n.__('titleMoreInfo')%></a>
            <a id="lnkGifts" <% if (page_name==='gifts' ) { %>class="selected" <% } %> href="/gifts">
                <%=i18n.__('titleGifts')%></a>
            <a id="lnkRsvp" <% if (page_name==='rsvp' ) { %>class="selected" <% } %> href="/rsvp">
                <%=i18n.__('titleRsvp')%></a>
        </div>
        <div class='lang' id='choose-lang-mobile'>
            <% if (i18n.getLocale()!=='es') { %><a href='/es'><img src="images/es.png" alt="es"></a>
            <% }%>
            <% if (i18n.getLocale()!=='fr') { %><a href='/fr'><img src="images/fr.png" alt="fr"></a>
            <% }%>
            <% if (i18n.getLocale()!=='en') { %><a href='/en'><img src="images/en.png" alt='en'></a>
            <% }%>
        </div>
        <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="material-icons">menu</i>
        </span>
    </div>




</nav>
<script>
    let mainNav = document.getElementById('js-menu');
    let langMenu = document.getElementById('choose-lang-mobile');
    let navBarToggle = document.getElementById('js-navbar-toggle');
    navBarToggle.addEventListener('click', function () {
        mainNav.classList.toggle('active');
        langMenu.classList.toggle('active');
    });
</script>