<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="intro" class='body-content'>
            <div class='intro-text'>
                <p>
                    <%=i18n.__("intro_p1")%>
                </p>
                <p>
                    <%=i18n.__("intro_p2")%>
                </p>
                <p>
                    <%=i18n.__("intro_p3")%>
                </p>
            </div>
            <div class='intro-pic'>
                <img class='logo' src="images/wedding_landing_pagmockup.jpg" alt="Logo">

            </div>
        </div>


    </div>

</body>

</html>