<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="place" class='body-content'>
            <div class='map-content' id='map'>
                <%- include map.ejs %>
            </div>
            <div class='place-text'>
                <p>
                    <%=i18n.__("place_p1")%>
                </p>
                <p>
                    <%=i18n.__("place_p2")%>
                </p>
            </div>
        </div>


    </div>

</body>

</html>