<!DOCTYPE html>
<html>

<%- include _head.ejs %>

<body>
    <div class='layer'>
        <%- include header.ejs %>
        <div id="rsvp" class='body-content'>
            <div class='rsvp-text'>
                <%-i18n.__("rsvpInfo")%>
            </div>

            <div class='rsvp-form'>
                <form class="gform pure-form pure-form-stacked" method="POST" action="https://script.google.com/macros/s/AKfycbyCxWM9pJ0NErqUS9Gdm1HB6xj3aTKNgrmmi1kzyE6oL_9pjX4/exec">
                    <fieldset id="honeypot">
                        <input id="honeypot" type="text" name="honeypot" value="" />
                    </fieldset>
                    <div class="pure-g">
                        <fieldset>
                            <div class="pure-u-3-5">
                                <label for="guest_name">
                                    <%=i18n.__("rsvpName")%></label>
                                <input class="pure-input-1" id="guest_name" type="text" name="guest_name" placeholder="Silvia Orube"
                                    required>
                            </div>
                            <div class="pure-u-2-5">
                                <label for="nb_guest">
                                    <%=i18n.__("rsvpNbGuest")%></label>
                                <input class="pure-input-1" id="nb_guest" type="number" name="nb_guest" value="1" min="0"
                                    max="10" required>
                            </div>
                        </fieldset>

                    </div>

                    <fieldset>
                        <label for="guest_email">
                            <%=i18n.__("rsvpEmail")%></label>
                        <input id="guest_email" type="text" name="guest_email" placeholder="confirmacion@sergio-y-silvia.com"
                            class="pure-input-1">
                    </fieldset>
                    <fieldset class='comment-rsvp'>
                        <label for="guest_question">
                            <%=i18n.__("rsvpComment")%></label>
                        <textarea class="pure-input-1" placeholder='<%=i18n.__("rsvpCommentPlaceholder")%>' name='comment'></textarea>
                    </fieldset>

                    <button type="submit" class="pure-button pure-button-primary">
                        <%=i18n.__("rsvpSend")%></button>


                </form>



            </div>
            <div style="display:none" class="thankyou_message" id="thankyou_message">
                <%=i18n.__("rsvpThanks")%>
            </div>
        </div>


    </div>

    <script data-cfasync="false" type="text/javascript" src="js/form-submission-handler.js"></script>
</body>

</html>